%primary-btn-color{
    background-color: #0e6cff;
    color: white;
}

%secondary-btn-color{
    background-color: #ff8700;
    color: white
}

%tertiary-btn-color{
    background-color: #4caf50;
                    color: white;
}