
@mixin font($family, $size, $weight: normal, $color: white, $lineHeight: normal) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $lineHeight;
}